<div
  style="width: 844px; height: 314px; padding-left: 24px; padding-right: 24px; padding-top: 16px; padding-bottom: 16px; background: #F3F3F3; box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: flex-end; gap: 10px; display: inline-flex"
>
  <div
    style="align-self: stretch; height: 40px; padding-left: 16px; padding-right: 16px; background: white; border-radius: 4px; border: 1px #F3F3F3 solid; flex-direction: column; justify-content: center; align-items: center; gap: 10px; display: flex"
  >
    <div
      style="align-self: stretch; color: rgba(101, 119, 139, 0.50); font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
    >
      Canon Event
    </div>
  </div>
  <div
    style="width: 796px; height: 182px; position: relative; background: white; border-radius: 6px; overflow: hidden; border: 1px #F3F3F3 solid"
  >
    <div
      style="width: 772px; left: 12px; top: 8px; position: absolute; color: rgba(101, 119, 139, 0.50); font-size: 14px; font-family: Inter; font-weight: 400; line-height: 21px; word-wrap: break-word"
    >
      Description
    </div>
    <div
      style="width: 12.50px; height: 8px; left: 780.38px; top: 172px; position: absolute"
    >
      <div
        style="width: 8.88px; height: 5.69px; left: 1.81px; top: 1.16px; position: absolute"
      >
        <div
          style="width: 1.36px; height: 5.46px; left: 9.01px; top: 2.90px; position: absolute; transform: rotate(31.93deg); transform-origin: 0 0; background: #858C94"
        >
        </div>
        <div
          style="width: 1.36px; height: 10.91px; left: 7.38px; top: -1.18px; position: absolute; transform: rotate(31.93deg); transform-origin: 0 0; background: #858C94"
        >
        </div>
      </div>
      <div
        style="width: 12.50px; height: 8px; left: 0px; top: 0px; position: absolute; background: #F3F3F3"
      >
      </div>
    </div>
  </div>
  <div
    style="width: 287px; height: 40px; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex"
  >
    <div
      style="flex: 1 1 0; height: 40px; padding-left: 16px; padding-right: 16px; background: white; border-radius: 6px; justify-content: center; align-items: center; gap: 8px; display: flex"
    >
      <div
        style="color: #65778B; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word"
      >
        <a href="edit">Cancel</a>
      </div>
      <div
        style="flex: 1 1 0; height: 40px; padding-left: 25px; padding-right: 16px; background: #38A169; border-radius: 6px; justify-content: center; align-items: center; gap: 8px; display: flex"
      >
        <div
          style="color: white; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word"
        >
          Merge Canon
        </div>
      </div>
    </div>
  </div>
</div>
