<div
  style="width: 1440px; height: 1024px; position: relative; background: #F3F3F3"
>
  <div
    style="width: 1440px; height: 85px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05)"
  >
    <div
      style="width: 1440px; height: 85px; left: 0px; top: 0px; position: absolute; background: #3182CE"
    >
    </div>
    <div
      style="width: 48px; height: 48px; left: 1310px; top: 19px; position: absolute; background: #A0AEC0; border-radius: 9999px; justify-content: center; align-items: center; gap: 10px; display: inline-flex"
    >
      <img
        style="width: 32px; height: 38px"
        src="https://via.placeholder.com/32x38"
      />
    </div>
    <div
      style="left: 644.67px; top: 22px; position: absolute; justify-content: flex-start; align-items: center; gap: 20px; display: inline-flex"
    >
      <div style="width: 46.67px; height: 42px; position: relative">
        <div
          style="width: 23.33px; height: 42px; left: 0px; top: 0px; position: absolute; border: 4.67px white solid"
        >
        </div>
        <div
          style="width: 14px; height: 9.33px; left: 32.67px; top: 16.33px; position: absolute; border: 4.67px white solid"
        >
        </div>
        <div
          style="width: 23.33px; height: 42px; left: 23.33px; top: 0px; position: absolute; border: 4.67px white solid"
        >
        </div>
      </div>
      <div
        style="color: white; font-size: 32px; font-family: HK Grotesk; font-weight: 600; line-height: 32px; word-wrap: break-word"
      >
        Name
      </div>
    </div>
  </div>
  <div
    style="width: 298px; padding: 10px; left: 0px; top: 85px; position: absolute; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: inline-flex"
  >
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Folder name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Folder name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Folder name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Folder name
      </div>
    </div>
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Folder name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #A2A2A2 solid"
        >
        </div>
      </div>
      <div
        style="color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
  </div>
  <div
    style="width: 1142px; padding-left: 20px; padding-right: 20px; padding-top: 15px; padding-bottom: 15px; left: 298px; top: 85px; position: absolute; background: white; justify-content: flex-start; align-items: center; gap: 25px; display: inline-flex"
  >
    <div
      style="width: 190px; height: 35px; padding-left: 10px; padding-right: 10px; background: white; border-radius: 6px; overflow: hidden; border: 1px #F3F3F3 solid; justify-content: flex-start; align-items: center; gap: 10px; display: flex"
    >
      <div
        style="flex: 1 1 0; color: #A2A2A2; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Normal Text
      </div>
      <div style="width: 20px; height: 20px; position: relative">
        <div
          style="width: 10.61px; height: 6.48px; left: 4.70px; top: 6.85px; position: absolute; background: #A2A2A2"
        >
        </div>
      </div>
    </div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 15px; height: 10px; left: 7.50px; top: 5px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 16.25px; height: 10px; left: 7.50px; top: 15px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 11.25px; height: 0px; left: 12.50px; top: 5px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 11.25px; height: 0px; left: 6.25px; top: 25px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 7.50px; height: 20px; left: 11.25px; top: 5px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 15px; height: 15px; left: 7.50px; top: 5px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 20px; height: 0px; left: 5px; top: 25px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
    </div>
    <div style="width: 0px; height: 27px; border: 1px #A2A2A2 solid"></div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 15px; height: 0px; left: 3.75px; top: 15px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 17.50px; height: 0px; left: 3.75px; top: 22.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 12.50px; height: 0px; left: 8.75px; top: 15px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 17.50px; height: 0px; left: 6.25px; top: 22.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 15px; height: 0px; left: 11.25px; top: 15px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 17.50px; height: 0px; left: 8.75px; top: 22.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 15px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 22.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
    </div>
    <div style="width: 0px; height: 27px; border: 1px #A2A2A2 solid"></div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 16.25px; height: 0px; left: 10px; top: 7.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 16.25px; height: 0px; left: 10px; top: 15px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 16.25px; height: 0px; left: 10px; top: 22.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 0.01px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 0.01px; height: 0px; left: 3.75px; top: 15px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 0.01px; height: 0px; left: 3.75px; top: 22.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 13.75px; height: 0px; left: 12.50px; top: 7.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 13.75px; height: 0px; left: 12.50px; top: 15px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 13.75px; height: 0px; left: 12.50px; top: 22.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 1.25px; height: 5px; left: 5px; top: 7.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 2.50px; height: 0px; left: 5px; top: 12.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 2.50px; height: 5.25px; left: 5px; top: 17.25px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
    </div>
    <div style="width: 0px; height: 27px; border: 1px #A2A2A2 solid"></div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 22.50px; left: 3.75px; top: 3.75px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 7.50px; height: 0px; left: 20px; top: 6.25px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 0px; height: 7.50px; left: 23.75px; top: 2.50px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 5px; height: 5px; left: 8.75px; top: 8.75px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 18.75px; height: 12.09px; left: 7.50px; top: 14.16px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 8.75px; height: 12.50px; left: 2.50px; top: 8.75px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 8.75px; height: 12.50px; left: 18.75px; top: 8.75px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
        <div
          style="width: 10px; height: 0px; left: 10px; top: 15px; position: absolute; border: 2.50px #A2A2A2 solid"
        >
        </div>
      </div>
    </div>
  </div>
  <div
    style="width: 844px; height: 862px; padding: 40px; left: 314px; top: 162px; position: absolute; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex"
  >
    <div
      style="align-self: stretch; color: #2E2E2E; font-size: 36px; font-family: Inter; font-weight: 600; line-height: 36px; word-wrap: break-word"
    >
      Hack the North
    </div>
    <div
      style="align-self: stretch; color: #2E2E2E; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel velit
      tellus. Donec tellus mi, malesuada at sem sed, vehicula euismod sem.
      Praesent vestibulum ac metus nec fermentum. Etiam vestibulum urna augue,
      sit amet ultricies ante mattis id. Mauris id tortor nisi. Nullam auctor
      ultrices metus quis rutrum. Pellentesque ut scelerisque odio, et
      ullamcorper lacus. Nunc pretium rhoncus ligula vitae laoreet. Vestibulum a
      ligula nisl. Curabitur sollicitudin commodo aliquam. Cras non tincidunt
      nibh, at varius justo. Duis leo purus, ullamcorper et vestibulum vel,
      cursus ultrices lorem. Pellentesque vestibulum lorem tellus, mattis
      convallis enim vehicula nec. Mauris et sem ac erat finibus tempor et eu
      quam. Fusce facilisis enim quis mauris eleifend mattis. Fusce et quam ut
      urna convallis tempus.<br /><br />Morbi a congue neque, in tempor ex.
      Vivamus mauris sapien, pellentesque vitae malesuada non, finibus a elit.
      Donec non turpis luctus, luctus sem sed, scelerisque felis. Quisque in
      dignissim justo, sed mollis ligula. Suspendisse ipsum nisl, tempus et
      placerat id, commodo sit amet lectus. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas. Aenean
      imperdiet urna lectus, vel ullamcorper dui porta sit amet. In egestas
      lorem magna, ac auctor ligula ultrices eget. Aenean ultricies efficitur
      enim, quis mattis quam iaculis et. Integer eros odio, rutrum nec lectus
      ut, posuere cursus dui. Aliquam malesuada urna tristique erat tempor,
      vitae dignissim est fringilla. Donec mollis, nulla a euismod ultricies,
      sapien lacus mattis nisi, sed ornare nibh nisl id lectus.
    </div>
  </div>
  <div
    style="height: 145px; padding: 15px; left: 1175px; top: 271px; position: absolute; background: white; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: flex-end; gap: 10px; display: inline-flex"
  >
    <div
      style="width: 222px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"
    >
      <div
        style="width: 24px; height: 24px; background: #3182CE; border-radius: 9999px; justify-content: center; align-items: center; gap: 10px; display: flex"
      >
        <img
          style="width: 16px; height: 19px"
          src="https://via.placeholder.com/16x19"
        />
      </div>
      <div
        style="flex: 1 1 0; color: #3182CE; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 21.60px; word-wrap: break-word"
      >
        Aryaman Gupta
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16.97px; height: 12.02px; left: 3.64px; top: 5.98px; position: absolute; background: #2E2E2E"
        >
        </div>
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 2px; height: 2px; left: 11px; top: 13px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px black solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px black solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 20px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px black solid"
        >
        </div>
      </div>
    </div>
    <div
      style="align-self: stretch; color: #2E2E2E; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
    >
      i hope this works
    </div>
    <div
      style="width: 91px; height: 24px; padding-left: 8px; padding-right: 8px; border-radius: 6px; border: 1px #3182CE solid; justify-content: center; align-items: center; gap: 6px; display: inline-flex"
    >
      <div
        style="color: #3182CE; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 16px; word-wrap: break-word"
      >
        Reply
      </div>
    </div>
  </div>
  <div
    style="height: 48px; padding-left: 24px; padding-right: 24px; left: 27px; top: 20px; position: absolute; background: #38A169; border-radius: 6px; justify-content: center; align-items: center; gap: 8px; display: inline-flex"
  >
    <div
      style="color: white; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word"
    >
      Create Canon
    </div>
    <div style="width: 0px; height: 30px; border: 1px #F3F3F3 solid"></div>
    <div style="width: 25px; height: 25px; position: relative">
      <div
        style="width: 14.58px; height: 8.33px; left: 5.21px; top: 9.38px; position: absolute; background: white"
      >
      </div>
    </div>
  </div>
</div>
