<div
  style="width: 1460px; height: 1000px; position: relative; background: #F3F3F3"
>
  <div
    style="width: 1460px; height: 85px; left: -10px; top: -10px; position: absolute; justify-content: center; align-items: center; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)"
  >
    <div
      style="width: 1500px; height: 85px; background: linear-gradient(90deg, #F9500D 0%, #FCAF0D 113.19%);"
    >
    </div>
    <div
      style="left: 633.60px; top: 20px; position: absolute; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex"
    >
      <div style="width: 46.67px; height: 42px; position: relative">
        <div
          style="width: 23.33px; height: 42px; left: 23.33px; top: 0px; position: absolute; border: 4.67px #3182CE transparent"
        >
          <img
            style="width: 30px; height: 40px; border-radius: 4px"
            src="/assets/Reado Logo.png"
          />
        </div>
      </div>
      <div
        style="color: white; font-size: 30px; font-family: Inter; font-weight: 300; text-transform: uppercase; line-height: 30px; letter-spacing: 3.60px; word-wrap: break-word"
      >
        <a
          href="index.astro"
          style="color: rgb(255, 255, 255); text-decoration: none;">Reado</a
        >
      </div>
    </div>
    <img
      style="width: 60px; height: 60px; left: 1352px; top: 13px; position: absolute; border-radius: 9999px"
      src="assets/irene.png"
    />
  </div>
  <div
    style="width: 270px; padding: 10px; left: 0px; top: 85px; position: absolute; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: flex"
  >
    <div
      style="width: 255px; padding-left: 0px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/folder.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Questioning my life tbh
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Tomorrow, and Tomorrow, and Tomorrow
      </div>
    </div>
    <div
      style="width: 245px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/folder.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Madeline Miller
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        The Song of Achilles
      </div>
    </div>
    <div
      style="width: 245px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: #F3F3F3; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/darkfolder.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 600; line-height: 27px; word-wrap: break-word"
      >
        Before the Coffee Gets Cold
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: #F3F3F3; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/darkfile.png" />
      </div>

      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 600; line-height: 27px; word-wrap: break-word"
      >
        Before the Coffee Gets Cold
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Tales from the Cafe
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Before Your Memory Fades
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Before We Say Goodbye
      </div>
    </div>
    <div
      style="width: 245px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute"
        >
        </div>
        <img src="/assets/folder.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        PAIN ! !
      </div>
    </div>
    <div
      style="width: 245px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/folder.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        fieryhermitturtles
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        the colour of linen
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        the longer way around
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        our proximity to stars
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        like sunbeams in the heart
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        pindrop
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        i'll bloom for you
      </div>
    </div>
    <div
      style="width: 225px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B transparent"
        >
        </div>
        <img src="/assets/file.png" />
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 15px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        bubblegum is a shade of pink
      </div>
    </div>
  </div>
  <div
    style="width: 1300px; padding-left: 20px; padding-right: 20px; padding-top: 15px; padding-bottom: 15px; left: 298px; right: 300px; top: 85px; position: absolute; background: white; justify-content: flex-start; align-items: center; gap: 25px; display: inline-flex"
  >
    <div
      style="width: 190px; height: 35px; padding-left: 10px; padding-right: 10px; background: white; border-radius: 6px; overflow: hidden; border: 1px #F3F3F3 solid; justify-content: flex-start; align-items: center; gap: 10px; display: flex"
    >
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Normal Text
      </div>
      <div style="width: 20px; height: 20px; position: relative"></div>
    </div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 15px; height: 10px; left: 7.50px; top: 5px; position: absolute;"
        >
          <img src="/assets/bold.png" />
        </div>
        <div
          style="width: 16.25px; height: 10px; left: 7.50px; top: 15px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 11.25px; height: 0px; left: 12.50px; top: 5px; position: absolute; border: 2.50px #65778B transparent"
        >
          <img src="/assets/italic.png" />
        </div>
        <div
          style="width: 11.25px; height: 0px; left: 6.25px; top: 25px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 7.50px; height: 20px; left: 11.25px; top: 5px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 15px; height: 15px; left: 7.50px; top: 5px; position: absolute; border: 2.50px #65778B transparent"
        >
          <img src="/assets/underline.png" />
        </div>
        <div
          style="width: 20px; height: 0px; left: 5px; top: 25px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
      </div>
    </div>
    <div style="width: 0px; height: 27px; border: 1px #65778B solid"></div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 15px; height: 0px; left: 3.75px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 17.50px; height: 0px; left: 3.75px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 12.50px; height: 0px; left: 8.75px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 17.50px; height: 0px; left: 6.25px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 15px; height: 0px; left: 11.25px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 17.50px; height: 0px; left: 8.75px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
    </div>
    <div style="width: 0px; height: 27px; border: 1px #65778B solid"></div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 16.25px; height: 0px; left: 10px; top: 7.50px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 16.25px; height: 0px; left: 10px; top: 15px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 16.25px; height: 0px; left: 10px; top: 22.50px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 0.01px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 0.01px; height: 0px; left: 3.75px; top: 15px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 0.01px; height: 0px; left: 3.75px; top: 22.50px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <img src="/assets/list.png" />
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 13.75px; height: 0px; left: 12.50px; top: 7.50px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 13.75px; height: 0px; left: 12.50px; top: 15px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 13.75px; height: 0px; left: 12.50px; top: 22.50px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 1.25px; height: 5px; left: 5px; top: 7.50px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 2.50px; height: 0px; left: 5px; top: 12.50px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 2.50px; height: 5.25px; left: 5px; top: 17.25px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <img src="/assets/list-ordered.png" />
      </div>
    </div>
    <div style="width: 0px; height: 27px; border: 1px #65778B solid"></div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 22.50px; left: 3.75px; top: 3.75px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 7.50px; height: 0px; left: 20px; top: 6.25px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 0px; height: 7.50px; left: 23.75px; top: 2.50px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 5px; height: 5px; left: 8.75px; top: 8.75px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 18.75px; height: 12.09px; left: 7.50px; top: 14.16px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <img src="/assets/image-plus.png" />
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 8.75px; height: 12.50px; left: 2.50px; top: 8.75px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>

        <div
          style="width: 8.75px; height: 12.50px; left: 18.75px; top: 8.75px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <div
          style="width: 10px; height: 0px; left: 10px; top: 15px; position: absolute; border: 2.50px #65778B transparent"
        >
        </div>
        <img src="/assets/link-2.png" />
      </div>
    </div>
  </div>
  <div
    style="width: 844px; height: 862px; padding: 40px; left: 350px; top: 162px; position: absolute; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex"
  >
    <div
      style="align-self: stretch; color: #313131; font-size: 36px; font-family: Inter; font-weight: 600; line-height: 36px; word-wrap: break-word"
    >
      Before the Coffee Gets Cold
    </div>
    <div style="align-self: stretch">
      <span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >If you could go back, who would you want to meet?<br /><br /></span
      ><span
        style="color: #313131; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 28.80px; word-wrap: break-word"
        >i. The Lovers<br /><br /></span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >'Oh gosh, is that the time? Sorry, I have to go,' the man mumbled
        evasively, as he stood up and reached for his bag.<br /><br />'What?'
        the woman said.<br /><br />She looked at him with uncertainty. She
        hadn't heard him say it was over. But he had called her his girlfriend
        of two years to come out for a
      </span><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >serious conversation</span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >... and now he had suddenly announced he was going to work in America.
        He was to leave immediately - in a few hours. Even without hearing the
        words, she knew now that the
      </span><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >serious conversation</span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        was about breaking up. She knew now it was a mistake to have thought -
        to have hoped - that the
      </span><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >serious conversation</span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        might have included
      </span><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >'Will you marry me?'</span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        for example.<br /><br />'What?' the man responded dryly. He didn't make
        eye contact with her.<br /><br />'Don't I deserve an explanation?' she
        asked.<br /><br />The woman spoke using a questioning tone that the man
        particularly disliked. The man sighed in disbelief before gazing up at
        her. They were in a windowless basement cafe.</span
      >
    </div>
  </div>
  <div
    style="height: 165px; padding: 15px; left: 1173px; top: 297px; position: absolute; background: rgba(255, 255, 255); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: flex-end; gap: 10px; display: inline-flex"
  >
    <div
      style="width: 222px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"
    >
      <img
        style="width: 24px; height: 24px; border-radius: 9999px"
        src="/assets/p1.png"
      />
      <div
        style="flex: 1 1 0; color: #313131; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 21.60px; word-wrap: break-word"
      >
        Aryaman Gupta
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16.97px; height: 12.02px; left: 3.64px; top: 5.98px; position: absolute; background: #313131"
        >
        </div>
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 2px; height: 2px; left: 11px; top: 13px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 20px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
      </div>
    </div>
    <div
      style="align-self: stretch; color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
    >
      Strong hook for the story, subtext sets up the scene very well
    </div>
    <div
      style="width: 91px; height: 24px; padding-left: 8px; padding-right: 8px; border-radius: 6px; border: 1px #F9500D solid; justify-content: center; align-items: center; gap: 6px; display: inline-flex"
    >
      <div
        style="color: #F9500D; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 16px; word-wrap: break-word"
      >
        Reply
      </div>
    </div>
  </div>
  <div
    style="height: 100px; padding: 15px; left: 1173px; top: 514px; position: absolute; background: rgba(255, 255, 255); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: flex-end; gap: 10px; display: inline-flex"
  >
    <div
      style="width: 222px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"
    >
      <img
        style="width: 24px; height: 24px; border-radius: 9999px"
        src="assets/p2.png"
      />
      <div
        style="flex: 1 1 0; color: #313131; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 21.60px; word-wrap: break-word"
      >
        Kitty Liu
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16.97px; height: 12.02px; left: 3.64px; top: 5.98px; position: absolute; background: #313131"
        >
        </div>
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 2px; height: 2px; left: 11px; top: 13px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 20px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
      </div>
    </div>
    <div
      style="align-self: stretch; color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
    >
      I like the way this section flows!
    </div>
    <div
      style="width: 91px; height: 24px; padding-left: 8px; padding-right: 8px; border-radius: 6px; border: 1px #F9500D solid; justify-content: center; align-items: center; gap: 6px; display: inline-flex"
    >
      <div
        style="color: #F9500D; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 16px; word-wrap: break-word"
      >
        Reply
      </div>
    </div>
  </div>
  <div
    style="height: 100px; padding: 15px; left: 1173px; top: 783px; position: absolute; background: white; box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05); border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: flex-end; gap: 10px; display: inline-flex"
  >
    <div
      style="width: 222px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"
    >
      <img
        style="width: 24px; height: 24px; border-radius: 9999px"
        src="assets/irene.png"
      />
      <div
        style="flex: 1 1 0; color: #313131; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 21.60px; word-wrap: break-word"
      >
        Irene Zhang
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16.97px; height: 12.02px; left: 3.64px; top: 5.98px; position: absolute; background: #313131"
        >
        </div>
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 2px; height: 2px; left: 11px; top: 13px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 20px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
      </div>
    </div>
    <div
      style="align-self: stretch; color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
    >
      she totally deserves better
    </div>
    <div
      style="width: 91px; height: 24px; padding-left: 8px; padding-right: 8px; border-radius: 6px; border: 1px #F9500D solid; justify-content: center; align-items: center; gap: 6px; display: inline-flex"
    >
      <div
        style="color: #F9500D; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 16px; word-wrap: break-word"
      >
        Reply
      </div>
    </div>
  </div>
  <div
    style="height: 48px; padding-left: 24px; padding-right: 24px; left: 49px; top: 10px; position: absolute; background: #38A169; border-radius: 6px; justify-content: center; align-items: center; gap: 8px; display: inline-flex"
  >
    <div
      style="color: white; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word"
    >
      <a href="canon" style="color: rgb(255, 255, 255); text-decoration: none;"
        >Create Canon</a
      >
    </div>
    <div style="width: 0px; height: 30px; border: 1px #F3F3F3 solid"></div>
    <div style="width: 25px; height: 25px; position: relative">
      <div
        style="width: 14.58px; height: 8.33px; left: 5.21px; top: 9.38px; position: absolute"
      >
      </div>
      <a href="canon"
        ><img
          style="width: 25px; height: 20px"
          src="/assets/right-icon.png"
        /></a
      >
    </div>
  </div>
  <div
    style="width: 795px; height: 28px; left: 390px; top: 379px; position: absolute; mix-blend-mode: multiply; background: #FFEA77"
  >
  </div>
  <div
    style="width: 795px; height: 28px; left: 390px; top: 542px; position: absolute; mix-blend-mode: multiply; background: #FFEA77"
  >
  </div>
  <div
    style="width: 795px; height: 28px; left: 390px; top: 570px; position: absolute; mix-blend-mode: multiply; background: #FFEA77"
  >
  </div>
  <div
    style="width: 435px; height: 28px; left: 390px; top: 784px; position: absolute; mix-blend-mode: multiply; background: #FCAF0D"
  >
  </div>
</div>
