<div
  style="width: 1440px; height: 1024px; position: relative; background: #F3F3F3"
>
  <div
    style="width: 1440px; height: 85px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05)"
  >
    <div
      style="width: 1440px; height: 85px; left: 0px; top: 0px; position: absolute; background: linear-gradient(90deg, #F9500D 0%, #FCAF0D 100%)"
    >
    </div>
    <div
      style="width: 48px; height: 48px; left: 1310px; top: 19px; position: absolute; background: #A0AEC0; border-radius: 9999px; justify-content: center; align-items: center; gap: 10px; display: inline-flex"
    >
      <img
        style="width: 32px; height: 38px"
        src="https://via.placeholder.com/32x38"
      />
    </div>
    <div
      style="left: 633.60px; top: 13.50px; position: absolute; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex"
    >
      <div style="width: 44.80px; height: 59px; position: relative">
        <div
          style="width: 44.80px; height: 59px; left: 0px; top: 0px; position: absolute; background: white"
        >
        </div>
      </div>
      <div
        style="color: white; font-size: 30px; font-family: Inter; font-weight: 300; text-transform: uppercase; line-height: 30px; letter-spacing: 3.60px; word-wrap: break-word"
      >
        Reado
      </div>
    </div>
  </div>
  <div
    style="width: 298px; padding: 10px; left: 0px; top: 85px; position: absolute; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-end; display: inline-flex"
  >
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Folder name
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        File name
      </div>
    </div>
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Madeline Miller
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        The Song of Achilles
      </div>
    </div>
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #404A54 solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #404A54; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Before the Coffee Gets Cold
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: #F3F3F3; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #404A54 solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #404A54 solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #404A54; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Before the Coffee Gets Cold
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Tales from the Cafe
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Before Your Memory Fades
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Before We Say Goodbye
      </div>
    </div>
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        PAIN ! !
      </div>
    </div>
    <div
      style="width: 278px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 20px; height: 17px; left: 2px; top: 3px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        fieryhermitturtles
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        the colour of linen
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        the longer way around
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        our proximity to stars
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        like sunbeams in the heart
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        pindrop
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        i’ll bloom for you
      </div>
    </div>
    <div
      style="width: 231px; padding-left: 15px; padding-right: 15px; padding-top: 8px; padding-bottom: 8px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex"
    >
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16px; height: 20px; left: 4px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
        <div
          style="width: 6px; height: 6px; left: 14px; top: 2px; position: absolute; border: 2px #65778B solid"
        >
        </div>
      </div>
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        bubblegum is a shad of pink
      </div>
    </div>
  </div>
  <div
    style="width: 1142px; padding-left: 20px; padding-right: 20px; padding-top: 15px; padding-bottom: 15px; left: 298px; top: 85px; position: absolute; background: white; justify-content: flex-start; align-items: center; gap: 25px; display: inline-flex"
  >
    <div
      style="width: 190px; height: 35px; padding-left: 10px; padding-right: 10px; background: white; border-radius: 6px; overflow: hidden; border: 1px #F3F3F3 solid; justify-content: flex-start; align-items: center; gap: 10px; display: flex"
    >
      <div
        style="flex: 1 1 0; color: #65778B; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        Normal Text
      </div>
      <div style="width: 20px; height: 20px; position: relative">
        <div
          style="width: 10.61px; height: 6.48px; left: 4.70px; top: 6.85px; position: absolute; background: #65778B"
        >
        </div>
      </div>
    </div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 15px; height: 10px; left: 7.50px; top: 5px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 16.25px; height: 10px; left: 7.50px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 11.25px; height: 0px; left: 12.50px; top: 5px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 11.25px; height: 0px; left: 6.25px; top: 25px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 7.50px; height: 20px; left: 11.25px; top: 5px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 15px; height: 15px; left: 7.50px; top: 5px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 20px; height: 0px; left: 5px; top: 25px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
    </div>
    <div style="width: 0px; height: 27px; border: 1px #65778B solid"></div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 15px; height: 0px; left: 3.75px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 17.50px; height: 0px; left: 3.75px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 12.50px; height: 0px; left: 8.75px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 17.50px; height: 0px; left: 6.25px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 15px; height: 0px; left: 11.25px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 17.50px; height: 0px; left: 8.75px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 22.50px; height: 0px; left: 3.75px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
    </div>
    <div style="width: 0px; height: 27px; border: 1px #65778B solid"></div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 16.25px; height: 0px; left: 10px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 16.25px; height: 0px; left: 10px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 16.25px; height: 0px; left: 10px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 0.01px; height: 0px; left: 3.75px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 0.01px; height: 0px; left: 3.75px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 0.01px; height: 0px; left: 3.75px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 13.75px; height: 0px; left: 12.50px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 13.75px; height: 0px; left: 12.50px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 13.75px; height: 0px; left: 12.50px; top: 22.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 1.25px; height: 5px; left: 5px; top: 7.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 2.50px; height: 0px; left: 5px; top: 12.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 2.50px; height: 5.25px; left: 5px; top: 17.25px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
    </div>
    <div style="width: 0px; height: 27px; border: 1px #65778B solid"></div>
    <div
      style="justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex"
    >
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 22.50px; height: 22.50px; left: 3.75px; top: 3.75px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 7.50px; height: 0px; left: 20px; top: 6.25px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 0px; height: 7.50px; left: 23.75px; top: 2.50px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 5px; height: 5px; left: 8.75px; top: 8.75px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 18.75px; height: 12.09px; left: 7.50px; top: 14.16px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
      <div style="width: 30px; height: 30px; position: relative">
        <div
          style="width: 8.75px; height: 12.50px; left: 2.50px; top: 8.75px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 8.75px; height: 12.50px; left: 18.75px; top: 8.75px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
        <div
          style="width: 10px; height: 0px; left: 10px; top: 15px; position: absolute; border: 2.50px #65778B solid"
        >
        </div>
      </div>
    </div>
  </div>
  <div
    style="width: 844px; height: 862px; padding: 40px; left: 314px; top: 162px; position: absolute; background: white; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 30px; display: inline-flex"
  >
    <div
      style="align-self: stretch; color: #313131; font-size: 36px; font-family: Inter; font-weight: 600; line-height: 36px; word-wrap: break-word"
    >
      Before the Coffee Gets Cold
    </div>
    <div style="align-self: stretch">
      <span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >If you could go back, who would you want to meet?<br /><br /></span
      ><span
        style="color: #313131; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 28.80px; word-wrap: break-word"
        >i. The Lovers<br /><br /></span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >“Oh gosh, is that the time? Sorry, I have to go,” the man mumbled
        evasively, as he stood up and reached for his bag.<br /><br />“What?”
        the woman said.<br /><br />She looked at him with uncertainty. She
        hadn’t heard him say it was over. But he had called her—his girlfriend
        of two years—to come out for a
      </span><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >serious conversation</span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >…and now he had suddenly announced he was going to work in America. He
        was to leave immediately—in a few hours. Even without hearing the words,
        she knew now that the
      </span><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >serious conversation</span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        was about breaking up. She knew now it was a mistake to have thought—to
        have hoped—that the
      </span><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >serious conversation</span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        might have included
      </span><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-style: italic; font-weight: 400; line-height: 27px; word-wrap: break-word"
        >“Will you marry me?”</span
      ><span
        style="color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
      >
        for example.<br /><br />“What?” the man responded dryly. He didn’t make
        eye contact with her.<br /><br />“Don’t I deserve an explanation?” she
        asked.<br /><br />The woman spoke using a questioning tone the man
        particularly disliked. They were in a windowless base­ment café.</span
      >
    </div>
  </div>
  <div
    style="height: 145px; padding: 15px; left: 1175px; top: 271px; position: absolute; background: white; border-radius: 10px; overflow: hidden; flex-direction: column; justify-content: flex-end; align-items: flex-end; gap: 10px; display: inline-flex"
  >
    <div
      style="width: 222px; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex"
    >
      <div
        style="width: 24px; height: 24px; background: #313131; border-radius: 9999px; justify-content: center; align-items: center; gap: 10px; display: flex"
      >
        <img
          style="width: 16px; height: 19px"
          src="https://via.placeholder.com/16x19"
        />
      </div>
      <div
        style="flex: 1 1 0; color: #313131; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 21.60px; word-wrap: break-word"
      >
        Aryaman Gupta
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 16.97px; height: 12.02px; left: 3.64px; top: 5.98px; position: absolute; background: #313131"
        >
        </div>
      </div>
      <div style="width: 24px; height: 24px; position: relative">
        <div
          style="width: 2px; height: 2px; left: 11px; top: 13px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 6px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
        <div
          style="width: 2px; height: 2px; left: 11px; top: 20px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 2px #313131 solid"
        >
        </div>
      </div>
    </div>
    <div
      style="align-self: stretch; color: #313131; font-size: 18px; font-family: Inter; font-weight: 400; line-height: 27px; word-wrap: break-word"
    >
      i hope this works
    </div>
    <div
      style="width: 91px; height: 24px; padding-left: 8px; padding-right: 8px; border-radius: 6px; border: 1px #F9500D solid; justify-content: center; align-items: center; gap: 6px; display: inline-flex"
    >
      <div
        style="color: #F9500D; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 16px; word-wrap: break-word"
      >
        Reply
      </div>
    </div>
  </div>
  <div
    style="height: 48px; padding-left: 24px; padding-right: 24px; left: 49px; top: 20px; position: absolute; background: #38A169; border-radius: 6px; justify-content: center; align-items: center; gap: 8px; display: inline-flex"
  >
    <div
      style="color: white; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word"
    >
      Create Canon
    </div>
    <div style="width: 0px; height: 30px; border: 1px #F3F3F3 solid"></div>
    <div style="width: 25px; height: 25px; position: relative">
      <div
        style="width: 14.58px; height: 8.33px; left: 5.21px; top: 9.38px; position: absolute; background: white"
      >
      </div>
    </div>
  </div>
</div>
